decorator==5.0.7
listparser==0.18
six==1.16.0
tabulate==0.8.9
validators==0.18.2
appdirs==1.4.4
certifi==2020.12.5
cfgv==3.3.0
chardet==4.0.0
cssselect==1.1.0
decorator==5.0.7
distlib==0.3.1
easyquotation==0.7.4
easyutils==0.1.7
filelock==3.0.12
futu-api==5.3.1510
identify==2.2.4
idna==2.10
listparser==0.18
lxml==4.6.3
nodeenv==1.6.0
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
pre-commit==2.12.1
protobuf==3.5.1
pycryptodome==3.10.1
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
simplejson==3.17.2
six==1.16.0
TA-Lib==0.4.20
tabulate==0.8.9
toml==0.10.2
urllib3==1.26.4
validators==0.18.2
virtualenv==20.4.6
